<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.matejdro.pebblenotificationcenter"
    android:versionCode="36"
    android:versionName="2.3b11" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="20" />

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="net.dinglisch.android.tasker.PERMISSION_RUN_TASKS" />

    <uses-feature android:name="android.hardware.microphone" android:required="false" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:name=".PebbleNotificationCenter"
        android:theme="@style/AppTheme" >
        <service
            android:name="com.matejdro.pebblenotificationcenter.notifications.JellybeanNotificationListener"
            android:enabled="@bool/supportsNotificationCenter"
            android:label="Notification Center for Pebble"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE" >
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService" />
            </intent-filter>
        </service>
        <service
            android:name="com.matejdro.pebblenotificationcenter.notifications.AccesibilityNotificationListener"
            android:enabled="@bool/useAccesibility"
            android:label="Notification Center for Pebble"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE"
             >
            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/accessibility_config" />
 
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>
        </service>
        <service android:name="com.matejdro.pebblenotificationcenter.PebbleTalkerService" >
        </service>
        <service android:name="com.matejdro.pebblenotificationcenter.notifications.SideChannelNotificationListener" >
            <intent-filter>
                <action android:name="android.support.BIND_NOTIFICATION_SIDE_CHANNEL" />
            </intent-filter>
        </service>

        <receiver android:name="com.matejdro.pebblenotificationcenter.DataReceiver"
            android:exported="true" >
            <intent-filter>
                <action android:name="com.getpebble.action.app.RECEIVE" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.getpebble.action.PEBBLE_CONNECTED" />
            </intent-filter>
        </receiver>

        <activity
            android:name="com.matejdro.pebblenotificationcenter.ui.MainActivity"
            android:label="@string/title_activity_main" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.SettingsActivity" >
        </activity>

        <receiver android:name="com.matejdro.pebblenotificationcenter.CustomNotificationCatcher"
            android:exported="true" >
            <intent-filter>
                <action android:name="com.getpebble.action.SEND_NOTIFICATION" />
            </intent-filter>
        </receiver>

        <activity android:name=".ui.LicenseActivity" >
        </activity>

        <activity android:name=".ui.perapp.PerAppActivity" />

        <activity android:name=".tasker.TaskerActionPickerActivity"
                  android:label="@string/title_activity_main"
                  android:exported="true">
            <intent-filter>
                <action android:name="com.twofortyfouram.locale.intent.action.EDIT_SETTING" />
            </intent-filter>
        </activity>
        <activity android:name=".tasker.TaskerNotificationActivity" />
        <activity android:name=".tasker.TaskerGlobalSettingsActivity"/>
        <activity android:name=".tasker.TaskerAppListActivity"/>
        <activity android:name=".tasker.TaskerAppSettingsActivity"/>

        <receiver android:name=".tasker.TaskerReceiver"
            android:exported="true" >
            <intent-filter>
                  <action android:name="com.twofortyfouram.locale.intent.action.FIRE_SETTING" />
              </intent-filter>
        </receiver>

        <meta-data android:name="com.crashlytics.ApiKey" android:value="048e0255b748bd3c0abc33c75a2601ff67b550c8"/>
    </application>

</manifest>
